@using Funpoly.Data.Repositories.Interfaces
@using Funpoly.Data.Models
@inject IRepository<SurpriseCard> surpriseCardRepository

<Column>
    <Row>
        <Column>
            <BankerActionListItem IconSource="image/speed.png"
                                  ModalTitle="Multar por exceso de velocidad"
                                  ModalAction="FinePerSpeedLimit">
            </BankerActionListItem>
        </Column>

        <Column>
            <BankerActionListItem IconSource="image/surprise.png"
                                  ModalTitle="Coger tarjeta sorpresa"
                                  ModalAction="GetSurpriseCard">
            </BankerActionListItem>
        </Column>
    </Row>

    <Row>
        <Column>
            <BankerActionListItem IconSource="image/lottery.png"
                                  ModalTitle="Entregar lotería"
                                  ModalAction="GiveLotteryPrize">
            </BankerActionListItem>
        </Column>

        <Column>
            <BankerActionListItem IconSource="image/turn.png"
                                  ModalTitle="Registrar vuelta"
                                  ModalAction="RegisterLap">
            </BankerActionListItem>
        </Column>
    </Row>
</Column>

<Modal @ref="@surpriseCardModalRef">
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>
                Carta sorpresa
            </ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Label>
                @surpriseCardText
            </Label>
        </ModalBody>
    </ModalContent>
</Modal>