@using Funpoly.Data.Models
@using Funpoly.Data.Repositories.Interfaces
@inject IRepository<Team> TeamRepository

@if (@isInitialized)
{
    <h3>GameView</h3>

}
@code {
    [Parameter]
    public bool IsBanker { get; set; }

    private bool isInitialized = false;

    protected override async Task OnInitializedAsync()
    {
        isInitialized = true;
    }
}