@page  "/"
@page  "/{bankerToken}"
@using Funpoly.Features.Games.GameList;
@using Funpoly.Services
@using Funpoly.Data.Models
@using Funpoly.Data.Repositories.Interfaces

@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IGameManager gameManager
@inject IGameRepository gameRepository
@inject NavigationManager navManager


@if (isInitialised)
{
    @if (gameManager.GetGame() == null || gameManager.GetGame().Status == GameStatus.NotStarted)
    {
        @if (isBanker) // TODO: Cascade parameter?
        {
            <GameList></GameList>
        }
        else
        {
            <h3 class="text-center">
                El banquero está ordenando los billetes. Espera un poco...
            </h3>
        }
    }

    else if (gameManager.GetGame().Status == GameStatus.TeamsConfig)
    {
        // TODO: Split into banker and player teamconfig
        <TeamsConfig IsBanker="isBanker"></TeamsConfig>

    }
    else if (gameManager.GetGame().Status == GameStatus.OnGoing)
    {
        <GameView IsBanker="isBanker"></GameView>
    }
}
