@page  "/"
@page  "/{bankerToken}"

@using System

@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavManager

<button @onclick="@OnStartButtonClick"> Iniciar </button>

@code {
    [Parameter]
    public string bankerToken { get; set; }

    private bool isBanker = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Check token
        var envToken = Environment.GetEnvironmentVariable("BANKER_TOKEN");

        if (bankerToken != null && bankerToken == envToken)
        {
            await localStorage.SetItemAsync("bankerCookie", "true");
        }

        //// DEBUG: Get cookie
        //var cookieContent = await localStorage.GetItemAsync<string>("bankerCookie");

        //if (cookieContent != null && cookieContent == "true")
        //{
        //    isBanker = true;
        //}

        NavManager.NavigateTo("/");
    }

    private void OnStartButtonClick()
    {
        NavManager.NavigateTo("players");
    }
}