@page  "/"
@page  "/{bankerToken}"
@using Funpoly.Features.Games.GameList;
@using Funpoly.Core
@using Funpoly.Data.Models
@using Funpoly.Data.Repositories.Interfaces
@using Funpoly.Features.Teams

@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IGameManager gameManager
@inject IRepository<Game> gameRepository
@inject NavigationManager navManager

@if (isInitialised)
{
    <CascadingValue Name="IsBanker" Value="@isBanker">
        <CascadingValue Name="UserTeam" Value="@userTeam">
            @if (gameManager.GetGame() == null || gameManager.GetGame().Status == GameStatus.NotStarted || gameManager.GetGame().Status == GameStatus.Finished)
            {
                @if (isBanker)
                {
                    <GameList></GameList>
                }
                else
                {
                    //TODO: Vertical center
                    <Heading Size="HeadingSize.Is3" Alignment="TextAlignment.Center ">
                        El banquero está ordenando los billetes. Espera un poco...
                    </Heading>
                }
            }

            else if (gameManager.GetGame().Status == GameStatus.TeamsConfig)
            {
                @if (isBanker)
                {
                    <TeamList />
                }
                else
                {
                    <TeamForm GetTeamCookie="@GetTeamCookie" />
                }

            }
            else if (gameManager.GetGame().Status == GameStatus.OnGoing)
            {
                <GameView></GameView>
            }
        </CascadingValue>
    </CascadingValue>

    <Modal @ref="bankerModal">
        <ModalContent Centered="true">
            <ModalHeader>
                <ModalTitle>Pago recibido</ModalTitle>
            </ModalHeader>
            <ModalBody>
                <Label>¿Deseas enviar el pago de @lastPaymentAmount € a la lotería?</Label>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="HideBankerModal">No</Button>
                <Button Color="Color.Primary" Clicked="SendMoneyToLottery">Sí</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>

    <Modal @ref="@surpriseCardModalRef">
        <ModalContent Centered="true">
            <ModalHeader>
                <ModalTitle>
                    Carta sorpresa
                </ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <Label>
                    @surpriseCardText
                </Label>
            </ModalBody>
        </ModalContent>
    </Modal>
}