@page  "/"
@page  "/{bankerToken}"

@using System

@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavManager

@if (isBanker)
{
    <button @onclick="@OnStartButtonClick"> Iniciar </button>
}
else
{
    <h3 class="text-center">
        El banquero está ordenando los billetes. Espera un poco...
    </h3>
}

@code {
    [Parameter]
    public string bankerToken { get; set; }

    private bool isBanker = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Check token
        var envToken = Environment.GetEnvironmentVariable("BANKER_TOKEN");

        if (bankerToken != null && bankerToken == envToken)
        {
            await localStorage.SetItemAsync("bankerCookie", "true");

            NavManager.NavigateTo("/");
        }

        //Get cookie (needs to be done to work on redirection)
        var cookieContent = await localStorage.GetItemAsync<string>("bankerCookie");

        if (cookieContent != null && cookieContent == "true")
        {
            isBanker = true;
            StateHasChanged();
        }
    }

    private void OnStartButtonClick()
    {
        NavManager.NavigateTo("players");
    }
}