@page "/players"

@using Funpoly.Data.Models
@using Funpoly.Data.Repositories.Interfaces
@inject IPlayerRepository PlayerRepository

@if (@isInitialized)
{
    <h3>TeamsConfig</h3>
    @foreach (var player in _playerList)
    {
        @player.Name
    }
}

@code {
    private List<Player> _playerList;
    private bool isInitialized = false;

    protected override async Task OnInitializedAsync()
    {
        _playerList = await PlayerRepository.GetAll();

        isInitialized = true;
    }
}