@page "/players"

@using Funpoly.Data.Models
@using Funpoly.Data.Repositories.Interfaces
@inject ITeamRepository TeamRepository

@if (@isInitialized)
{
    <h3>TeamsConfig</h3>
    <div class="flex-column">
        @foreach (var team in _teamsList)
        {
            <h1>@team.Name</h1>
            @foreach (var player in team.Players)
            {
                <a>@player.Name</a>
            }
        }
    </div>
}
@code {
    private List<Team> _teamsList;
    private bool isInitialized = false;

    protected override async Task OnInitializedAsync()
    {
        _teamsList = await TeamRepository.GetAll();

        isInitialized = true;
    }
}